@import "variables";
@import "mixins";
body {
    width: 100vw;
    font-family: $font-family;
}


.section-title {
    @include title-text;
    line-height: 22px;
    text-transform: uppercase;
}

.content-wrapper {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {

    .section-title {
        font-size: 16px;
    }

    .header__nav {

        margin-top: 41px;

    }

    .nav {
        height: auto;

        .menu {
            position: static;
            @include flex-space-between;
            width: 79%;
            margin-left: auto;
            margin-right: auto;
            background-color: #ffffff;

            &__item {
                padding-left: 0;
            }

            &__item:active {
                background-color: #ffffff;
            }

            &__link {
                line-height: 22px;
            }

        }
        
        &__icon {
            display: none;
        }
    }

    .header__img-wrapper {
        margin-top: 43px;
    }

    .section__post {
        margin-top: 56px;
    }

    .section__wrapper-post {

        margin-bottom: 60px;
    }

    .wrapper-post {

        gap: 32px;

      .post {
            &__img {
                float: left;
                margin-right: 21px;
            }

            &__text {
                display: block;
            }

            &__title {
                font-size: 16px;
            }
            &__link {
                margin-top: 0;
            }

            &__comments {
                font-size: 12px;
            }

            &--display {
                display: block;
            }
        }
    }

    .section-instagram {
        background-color: #00000010;

        &__title-wrapper {
            @include flex-space-between;
            position: relative;
            top: 47px;
        }
    }

    .section-instagram__text {
        display: block;
    }

    .section-instagram__wrapper-instagram {
        margin-top: 82px;
        margin-bottom: 0;
    }

    .wrapper-instagram {
        @include flex-space-between;
        padding-bottom: 50px;

        &__image-container {
            width: 32.42%;
            height: auto;
        }

        &__image-container--display {
            display: block;
        }
    }

    .footer {

        &-warpper {

            max-width: 684px;
            padding-bottom: 56px;

            &-title {
                top: 57px;
            }

            &__text {
                font-size: 16px;
                line-height: 22px;
                margin-top: 79px;
            }

            &__last-sentence {
                display: inline-block;
            }

            &__contacts {
                font-size: 16px;
                line-height: 26px;
            }

            &__contact {
                display: inline-block;
            }

            &__slash {
                display: inline-block;
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    .nav {
        .menu {
            width: 69.48%;
        }
    }

    .header__img-wrapper {
        margin-top: 51px;
    }

    .section__post {
        margin-top: 66px;
    }

    .section__wrapper-post {
        margin-bottom: 69px;
    }

    .wrapper-post {
        width: 100%;
        @include flex-space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        gap:0;
        height: 311px;

        .post {
            width: 49%;

            &__text {
                width: 100%;
            }
        }
    }

    .section-instagram__wrapper-instagram {
        margin-top: 71px;
    }

    .wrapper-instagram {

        &__image-container {
            width: 24.35%;
        }

        &__image-container--last {
            display: block;
        }
    }

    .footer {

        &-warpper {

            padding-bottom: 70px;

            &-title {
                top: 66px;
            }

            &__text {
                margin-top: 88px;
            }
        }
    }
}
