@import "variables";
@import "mixins";

.footer {
    width: 100vw;
    background-color: #000000;

    &-warpper {

        max-width: 303px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 47px;

        &-title {
            font-weight: $font-weight-bolt;
            font-size: $title-text-size;
            color: #FEFEFE;
            line-height: 22px;
            position: relative;
            top: 38px;
            text-transform: uppercase;
            width: max-content;
            margin-right: auto;
            margin-left: auto;
        }

        &__text {
            font-weight: $font-weight-regular;
            font-size: 12px;
            color: #B9B9B9;
            margin-top: 46px;
            text-align: center;
            line-height: 18px;
        }
        &__container-icon {
            margin-top: 26px;
        }

        &__contacts {
            font-weight: $font-weight-regular;
            font-size: 14px;
            color: #B9B9B9;
            line-height: 21px;
            margin-top: 25px;
        }

        &__contact {
            display: block;
        }

        &__slash {
            display: inline-block;
            margin-left: 8px;
        }
        &__link {
            text-decoration: none;
            color: #B9B9B9;
        }
        &__last-sentence {
            display: none;
        }
    }

}
