@import "variables";
@import "mixins";

.header {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.header__nav {
    margin-top: 23px;
}

.nav {
    height: 37px;
    position: relative;

    .nav__menu {
        position: absolute;
        top: 37px;
        right: 0;
    }

    .menu {
        display: none;
        width: 182px;
        background-color: #F5F5F5;

        &__item {
            padding-left: 13px;
            box-sizing: border-box;
        }

        &__item:active {
            background-color: #E5E5E5;
        }

        &__link {
            font-weight: $font-weight-regular;
            text-transform: uppercase;
            line-height: 28px;
            font-size: 11px;
            text-decoration: none;
            color: $text-color;
        }
    }

    .menu__item:hover .menu__link {
        color: $hover-text-color;
    }

    .menu--display {
        display: block;
    }

    &__icon {
        @include flex-center;
        width: 44px;
        height: 37px;
        background-color: #000000;
        float: right;

        .icon--lines {
            border-bottom: 6px double #ffffff;
            border-top: 2px solid #ffffff;
            content: "";
            height: 2px;
            width: 17px;
            box-sizing: unset;
            display: none;
        }

        .icon--close {
            position: relative;
            width: 20px;
            height: 20px;
            display: none;
        }

        .icon--close::before,
        .icon--close::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px;
            height: 17px;
            background-color: #ffffff;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .icon--close::before {
            content: "";
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .icon--display {
            display: inline-block;
        }
    }
}

.header__img-wrapper {
    width: 100%;
    margin-top: 23px;
}

.header__img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
