@import "variables";

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title-text {
    font-weight: $font-weight-bolt;
    font-size: $title-text-size;
    color: $text-color;
}
