@import "variables";
@import "mixins";

.section-instagram__text {
    display: none;
}

.section-instagram__link {
    font-weight: $font-weight-bolt;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
}

.section-instagram__wrapper-instagram {
    margin-top: 13px;
    margin-bottom: 42px;
}

.wrapper-instagram {

    width: 100%;

    &__image-container {
        width: 301px;
        height: 301px;
    }

    &__img {
        width: 100%;
    }

    &__image-container--display {
        display: none;
    }

    &__image-container--last {
        display: none;
    }
}
