@import "variables";
@import "mixins";

.section__post {
    margin-top: 38px;
}

.section__wrapper-post {
    margin-top: 23px;
    margin-bottom: 77.5px;
}

.wrapper-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    .post {
        width: 100%;

        &__img {
            width: 160px;
            height: 140px;
        }

        &__link {
            @include title-text;
            line-height: 30px;
            text-decoration: none;
            display: block;
            margin-top: 11px;
        }

        &__text {
            margin-top: 13px;
            font-weight: $font-weight-regular;
            font-size: 14px;
            color: #5C5C5C;
            line-height: 20px;
            width: 565px;
            display: none;
        }

        &__comments {
            font-family: $font-weight-regular;
            font-size: 11px;
            line-height: 20px;
            color: #7C7C7C;
            display: block;
        }

        &__comments--inline {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }

        &--display {
            display: none;
        }
    }
}
